{% extends 'base.html' %}

{% block content %}

<div style="max-width:600px; margin:50px auto;">

    <h2 style="text-align:center; margin-bottom:20px;">Add Event</h2>

    <div class="card">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input class="form-control mb-3" name="title" placeholder="Event Title">
    <textarea class="form-control mb-3" name="description" placeholder="Description"></textarea>
    <input type="date" class="form-control mb-3" name="date">

    <input type="file" class="form-control mb-3" name="image">

    <button class="btn btn-custom w-100">Submit</button>
</form>

    </div>

</div>

{% endblock %}