{% extends "base.html" %}
{% block content %}

<div style="max-width:600px; margin:50px auto;">

    <h2 style="text-align:center; margin-bottom:20px;">Add Event</h2>

    <div class="card">

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="title" placeholder="Event Title" required>

            <textarea name="description" placeholder="Event Description" required></textarea>

            <input type="date" name="event_date" required>

            <input type="text" name="location" placeholder="Location" required>

            <div style="text-align:center; margin-top:15px;">
                <button type="submit" class="btn">Add Event</button>
            </div>

        </form>

    </div>

</div>

{% endblock %}