{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Edit Event</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input class="form-control mb-3" name="title" value="{{ event.title }}">

        <textarea class="form-control mb-3" name="description">{{ event.description }}</textarea>

        <input type="date" class="form-control mb-3" name="date" value="{{ event.date }}">

        <!-- 🔥 IMAGE UPLOAD -->
        <input type="file" class="form-control mb-3" name="image">

        <button class="btn btn-warning w-100">Update Event</button>

    </form>

</div>

{% endblock %}