{% extends "base.html" %}

{% block content %}
<h2>NGO Events</h2>

{% for event in events %}
    <h3>{{ event.title }}</h3>
    <p>{{ event.description }}</p>
    <p>{{ event.event_date }} - {{ event.location }}</p>
    <hr>
{% endfor %}

{% endblock %}

<h2>NGO Events</h2>

{% for event in events %}
    <h3>{{ event.title }}</h3>
    <p>{{ event.description }}</p>
    <p>{{ event.event_date }} - {{ event.location }}</p>
    <hr>
{% endfor %}
<a href="/dashboard/">⬅ Back to Dashboard</a>
<br><br>
<a href="/dashboard/">Dashboard</a> |
<a href="/donations/">Donations</a> |
<a href="/logout/">Logout</a>

<br><br>
