{% extends "base.html" %}
{% block content %}

<h2>💖 Support Our NGO</h2>

{% if success %}
<p style="color:lightgreen; text-align:center;">
    ✅ Thank you for your donation!
</p>
{% endif %}

<div class="card">

<form method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Your Name">
    <input type="number" name="amount" placeholder="Donation Amount">
    <textarea name="message" placeholder="Message (optional)"></textarea>
    <button type="submit" class="btn">Donate Now</button>
</form>

</div>

{% endblock %}