{% extends "base.html" %}

{% block content %}

<h2>Events List</h2>

<a href="/events/add/" class="btn">+ Add Event</a>

<br><br>

<form method="GET">
    <input type="text" name="q" placeholder="Search events">
    <button type="submit">Search</button>
</form>

{% for event in events %}
<div class="card">

    <h3>{{ event.title }}</h3>
    <p>{{ event.description }}</p>
    <p><b>Date:</b> {{ event.event_date }}</p>
    <p><b>Location:</b> {{ event.location }}</p>

    <br>

    <a href="/events/edit-event/{{ event.id }}" class="edit-btn">✏️ Edit</a>
    <a href="/events/delete-event/{{ event.id }}" class="delete-btn">🗑️ Delete</a>

</div>
{% endfor %}

<div>
    {% if events.has_previous %}
        <a href="?page={{ events.previous_page_number }}">⬅ Previous</a>
    {% endif %}

    <span> Page {{ events.number }} of {{ events.paginator.num_pages }} </span>

    {% if events.has_next %}
        <a href="?page={{ events.next_page_number }}">Next ➡</a>
    {% endif %}
</div>

{% endblock %}